@import "tailwindcss";

@theme {
  --font-sans: var(--font-sarabun);
}

:root {
  --background: #FAFAF8;
}

body {
  background-color: var(--background);
  color: #3d3731;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
